<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
      <%= link_to "Quiz Master", current_user, id: "logo" %>
    <% else %>
      <%= link_to "Quiz Master", root_path, id: "logo" %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      	<% if logged_in? %>
      	<li><%= link_to "Log out", logout_path, method: :delete %>
      	<% else %>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>